@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  background-color: #243763;
  color: #F7EFE5;
  font-size: 30px;
}


  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



